# Syncfusion Essential JS 2 — Community License Key
# Free for individuals and companies with <$1M revenue and <5 developers.
# Get yours at: https://www.syncfusion.com/account/claim-license-key
VITE_SYNCFUSION_LICENSE_KEY=
